* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  html, body, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, div, span, img, a, table, tr, th, td, small, button, time, figure{
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    font-size: 100%;
    vertical-align: baseline;
  }
  
  header, footer, nav, section, article, aside, figure, figcaption {
    display: block;
  }
  
  body {
    line-height: 1;
  }
  img {
    border: none;
    vertical-align: bottom;
  }
  a {
    cursor: pointer;
    text-decoration: none;
  }
  
  ol, ul {
    list-style: none;
    list-style-type: none;
  }




$breakpoints: (
    "sp": "(max-width: 767px)",
    "tab": "(min-width: 768px) and (max-width: 1024px)",
    "semi-pc": "(min-width: 1025px) and (max-width:1200px)",
    "pc":"(min-width: 1200px)",
    );

      //メディアクエリ
@mixin mq($breakpoint: sp) {
      //map-get(マップ型変数, キー)で値を取得
        @media #{map-get($breakpoints, $breakpoint)} {
          //この中をカスタムできる
        @content;
        }
    }


body{
    font-family: “Times New Roman”, “游明朝”, “Yu Mincho”, “游明朝体”, “YuMincho”, 
    “ヒラギノ明朝 Pro W3”, “Hiragino Mincho Pro”, “HiraMinProN-W3”, “HGS明朝E”, 
    “ＭＳ Ｐ明朝”, “MS PMincho”, serif;
}
.inner{
    max-width: 1180px;
    margin: 0 auto;

}

header{
    position: fixed;
    width: 100%;
    z-index: 30;

}
.header_inner{
    display: flex;
    max-width: 1880px;
    height: 80px;
    background-color: transparent;
}
.header_charge_color{
    background-color: #333333e0;
}
// >>>>>>>>>>>>>>>>>>>>>

.header_left{
    display: flex;
    line-height: 40px;
    padding: 20px 0 20px 20px;
    @include mq('sp'){
        padding: 20px 0 20px 10px;
    }
}
.header_title{
    width: 200px;
}
.header_title_link{

}
.header_logo{

}
.header_nav{
    line-height: 40px;

    @include mq('tab'){
        display: none;
    }
    @include mq('sp'){
        display: none;
    }

}
.header_nav_items{
    margin-left: 120px;
    display: flex;

}
.header_nav_list{
    margin-right: 30px;

}
.header_nav_link{
    color: #fff;
    font-size: 16px;
    line-height: 16px;
    &:hover{
        color: #978F10;
        transition: all 0.3s 0s ease;

    }
}
.header_right{
    margin-left: auto;
    line-height: 52px;
    padding: 13px 20px ;

    @include mq('tab'){
        margin-left: 15px;
    }
    @include mq('sp'){
        margin-left: 15px;
        padding: 13px 0;
    }

    
}
.header_btn{
    background-color: #978F10;
    border: 1px solid #707070;
    a{
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        padding:10px 33px ;
        &::before{
            content: "";
            background: url(/images/calender.png) no-repeat center center / contain;
            width: 22px;
            height: 22px;
            display: inline-block;
            vertical-align: sub;
            padding-right: 10px;
        }
        @include mq('sp'){
            padding: 10px 30px;
        }
    }

}

// madal
.modal{
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    background-color: #fff;

    

}

.modal__content{
    width: 500px;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    border: solid 1px #000;


}
form{
    padding: 30px 60px;
    position: relative;

    #text{
        line-height: 16px;
        font-size: 16px;
    }
    .form_name{
        width: 100%;
        border: 0;
        padding: 9px;

    }
    .form_email{
        width: 100%;
        border: 0;
        padding: 9px;
    }
    textarea{
        width: 100%;
        border: solid 1px #000;
        padding: 5px;
        height: 100px;
    }
}
.form_button{
    text-align: center;
    input{
        padding: 12px 67px;
        &:hover{
            color: #fff;
            background-color: #000;
            transition: all 0.3s ease 0s;
        }
    }
}
.form_title{
    text-align: center;
    font-size: 20px;
}
.js-modal-close{
    position: absolute;
    content: "";
    top: 10px;
    right: 20px;
    .las{
        color: #000;
        &:hover{
            opacity: 0.3;
            transition: all 0.3s ease 0s;
        }
    }
}
// drawer
.banner{
    display: none;
    @include mq('tab'){
        display: block;
    }
    @include mq('sp'){
        display: block;
    }
}
.drawer-hamburger{
    padding: 30px;
    width: 36px;
}
.drawer-hamburger-icon{
    height: 2px;
    background-color: #fff;
    &::after{
    background-color: #fff;
    }
    &::before{
    background-color: #fff;

    }
}
.drawer--right.drawer-open .drawer-hamburger{
    right: 0;

}
.drawer-menu-item{
    padding: 34px 12px;
    color: #fff;
}
.drawer-nav{
    background-color: #000;
}
// top
#vegas {
    width: 100vw;
    height: 100vh;
}
.top{
    // height: 1079px;
    // height: 95vh;
}
.top_message{
    writing-mode: vertical-rl;
    height: auto;
    font-weight: 600;
    font-size: 34px;
    letter-spacing: 8px;
    position: absolute;
    z-index: 11;
    top: 25%;
    left: 69.5%;
    color: #fff;
    line-height: (70 / 34);
    @include mq('sp'){
        left: 62.5%;
    }
}

// introduce

.introduce{
    background: url(/images/bg.png) no-repeat center center / cover;
    width: 100%;
}
.introduce_inner{
    width: 860px;
    max-width: 100%;
    padding:150px 0 120px ;
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;

    @include mq('semi-pc'){
        padding: 150px 0 0;
    }
    @include mq('tab'){
        padding: 150px 0 0;
    }
    @include mq('sp'){
        padding: 150px 0 0;
    }
}
.introduce_title{
    writing-mode: vertical-rl;
    font-size: 28px;
    line-height: (70 / 28);
    letter-spacing: 10px;
    text-indent: -3.2em;   

    @include mq('sp'){
        font-size: 22px;
        line-height: 2.2;
    }
}
.introduce_message{
    writing-mode: vertical-rl;
    font-size: 16px;
    letter-spacing: 8px;
    line-height: (40 / 16);

    @include mq('sp'){
        font-size: 13px;
        line-height: 2.2;
    }
    span{
        text-combine-upright: all;
        letter-spacing: 0;
        line-height: 0;
    }

}
.introduce_name{
    writing-mode: vertical-rl;
    font-size: 22px;
    letter-spacing: 6px;
    padding-top: 340px;
    @include mq('sp'){
        font-size: 18px;
    }
}
// media
.media{

}
.media_inner{

}
.media_wrap{
    margin-top: 120px;
    padding: 0 40px;
    display: flex;
    height: 545px;
    justify-content: space-between;

    @include mq('semi-pc'){
        display: block;
        padding: 0 20px;
        height: inherit;
    }
    @include mq('tab'){
        display: block;
        padding: 0 20px;
        height: inherit;
        margin-top: 90px;
    }
    @include mq('sp'){
        display: block;
        padding: 0 20px;
        height: inherit;
        margin-top: 80px;

    }

    &:nth-child(even){
        flex-direction: row-reverse;
        justify-content: space-evenly;
    }

}
.media_img{
    width: 60%;
    @include mq('semi-pc'){
        width: 100%;
        // display: none;
    }
    @include mq('tab'){
        width: 100%;
    
        // display: none;
    }
    @include mq('sp'){
        width: 100%;
        // display: none;
    }
    img{
        width: 100%;
    }
}

.media_box{
    width: 35%;
    padding-top: 25px;
    @include mq('semi-pc'){
        width: 100%;
        text-align: center;
    }
    @include mq('tab'){
        width: 100%;
        text-align: center;
    }
    @include mq('sp'){
        width: 100%;
        text-align: center;
    }
    
}
.media_box2{
    padding-top: 25px;
    @include mq('semi-pc'){
        width: 100%;
        text-align: center;
    }
    @include mq('tab'){
        width: 100%;
        text-align: center;
    }
    @include mq('sp'){
        width: 100%;
        text-align: center;
    }



}

.media_title{
    font-size: 36px;
    line-height: (62 / 36);
    @include mq('semi-pc'){
        font-size: 25px;
        margin-top: 15px;
    }
    @include mq('tab'){
        font-size: 25px;
        margin-top: 15px;
    }
    @include mq('sp'){
        font-size: 25px;
        margin-top: 15px;
    }

}
.media_comment{
    font-size: 16px;
    margin-top: 75px;
    line-height: (32 / 16);
    @include mq('semi-pc'){
        margin-top: 30px;
    }
    @include mq('tab'){
        margin-top: 30px;
    }
    @include mq('sp'){
        margin-top: 30px;
    }
}

.media_btn{
    width: 200px;
    margin-top: 75px;
    @include mq('semi-pc'){
        margin: 50px auto 0;
    }
    @include mq('tab'){
        margin: 50px auto 0;
    }
    @include mq('sp'){
        margin: 50px auto 0;
    }
    a{
        border: 1px solid #707070;
        display: inline-block;
        font-size: 16px;
        text-decoration: none;
        color: #000;
        padding: 20px 42px;
        &:hover{
            color: #fff;
            background-color: #000;
            transition: all 0.3s ease 0s;
        }

    }
}
// plan
.plan{
    background: url(/images/bg02.png) no-repeat center center / cover;
    margin-top: 78px;

}
.plan_inner{
    padding:60px 0 144px ;
    @include mq('semi-pc'){
        padding: 60px 20px 120px;
    }
    @include mq('tab'){
        padding: 60px 30px 100px;
    }
    @include mq('sp'){
        padding: 60px 30px 80px;
    }

}
.logo{
    text-align: center;

}
.plan_title{
    font-size: 36px;
    margin-top: 20px;
    text-align: center;



}
.plan_wrap{
    display: flex;
    justify-content: space-between;
    margin-top: 66px;

    @include mq('tab'){
        display: block;
    }
    @include mq('sp'){
        display: block;
    }


}
.plan_list{
    width: 28%;
    @include mq('tab'){
        width: 100%;
        margin-bottom: 30px;
    }
    @include mq('sp'){
        width: 100%;
        margin-bottom: 30px;

    }

}
.plan_list_img{
    img{
        width: 100%;
    }
}
.plan_list_title{
    margin-top: 32px;
    font-size: 20px;
    line-height: (32/ 20);
    @include mq('semi-pc'){
        font-size: 19px;
    }
    @include mq('tab'){
        text-align: center;
        font-size: 19px;
        margin-top: 10px;
    }
    @include mq('sp'){
        text-align: center;
        font-size: 19px;
        margin-top: 10px;

    }

}
.plan_list_comment{
    margin-top: 36px;
    font-size: 16px;
    line-height: (32 / 16);
    @include mq('semi-pc'){
        margin-top: 32px;
    }
    @include mq('tab'){
        margin-top: 10px;
        line-height: 1.3;
        font-size: 14px;
    }
    @include mq('sp'){
        margin-top: 10px;
        line-height: 1.3;

    }
}

// news
.news{

}
.news_inner{

}
.news_title{
    font-size: 36px;
    margin-top: 20px;
    text-align: center;
}
.news-link-list{
    display: flex;
    justify-content: center;
    margin-top: 46px;


}

.news-link-item{
    margin-right: 53px;

    &:last-child{
        margin-right: 0;
    }
    
}
.active a{
    padding-bottom: 1px;
    border-bottom: 1px solid #000;
}

.news-wrap ul{
    display: none;
    
}
.news-wrap .show{
    display: flex;

    @include mq('sp'){
        display: block;
    }
}

.news-card-list{
    display: flex;
    flex-wrap: wrap;
    margin-top: 49px;

    
}

.news-card-item{
    width: calc(50% - 40px * 1 / 2);
    padding: 15px 10px;
    
    @include mq('sp'){
        width: 100%;
    }
    &:nth-child(2n){
        margin-left: 40px;
        @include mq('sp'){
            margin-left: 0;
        }
    }
}

.news-card-link{
    display: flex;
    text-decoration: none;
    color: #000;
    @include mq('sp'){
        justify-content: center;
    }

}
.news_item_img{
    width: 100px;
    height: 100px;
    img{
        width: 100%;
        height: 100%;
    }
}
.news_item_body{
    padding-left: 30px;

}
.news_item_date{
    font-size: 14px;

}
.news_item_text{
    margin-top: 10px;

}



// access
.access{
    margin-top: 120px;
}
.access_inner{
    @include mq('tab'){
        padding:0 30px;
    }
    @include mq('sp'){
        padding:0 30px;
    }

}

.logo{
    text-align: center;

}
.access_title{
    font-size: 36px;
    margin-top: 20px;
    text-align: center;
}
.access_wrap{
    display: flex;
    justify-content: space-between;
    margin-top: 84px;
    padding-bottom: 70px;
    @include mq('tab'){
        display: block;
    }
    @include mq('sp'){
        display: block;
        padding-bottom: 50px;
    }

}
.access_img{
    width: 70%;
    @include mq('tab'){
        width: 100%;
    }
    @include mq('sp'){
        width: 100%;
    }
    
    img{
        width: 100%;
        height: 370px;
        object-fit: cover;
        @include mq('sp'){
            height: 250px;
        }
    }
}
.access_box{
    padding: 0  0 20px 83px;

    @include mq('tab'){
        padding: 0;
    }
    @include mq('sp'){
        padding: 0;
    }

}
.access_bold{
    font-weight: 600;
    margin-top: 20px;

}
.access_number{
    margin-top: 20px;
    line-height: (32 / 16);


}
.access_tel{
    margin-top: 20px;

}
.access_time{
    margin-top: 20px;

}
.access_description{
    margin-top: 20px;
    line-height: (32 / 16);
}
.access_map_inner{
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;  

    iframe{
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
    }

}


// footer
.footer{
    background: url(/images/bg3.png) no-repeat center center / cover;
    width: 100%;
    margin-top: 110px;
}

.footer_container{
}
.footer_items{
    display: flex;
    justify-content: center;

}
.footer_item{
    writing-mode: vertical-rl;
    font-size: 18px;
    letter-spacing: 10px;
    margin-left: 34px;
    &:first-child{
        margin-left: 0;
    }
    a{
        text-decoration: none;
        color: #000;
    }
}
.footer_logo{
    margin-top: 96px;

}
.footer_title{
    text-align: center;
    font-size: 32px;
    margin-top: 20px;
}
.footer_info{

}
.footer_above{
    display: flex;
    justify-content: center;
    margin-top: 72px;
    

}
.footer_post{
    padding-right: 10px;

}
.footer_address{
    padding-left: 10px;

}
.footer_bottom{
    display: flex;
    justify-content: center;
    margin-top: 23px;
    margin-bottom: 60px;

}
.footer_tel{
    padding-right: 10px;

}
.footer_fax{
    padding-left: 10px;

}
.footer_black{
    background: black;
    padding: 23px 0;

}
.footer_copyright{
    font-size: 12px;
    text-align: center;
    color: #fff;

}